.search{

  form{
    @extend %flex-row-center;
  }

  input{
    width: 250px;
    padding: 9px 24px;
    background: var(--accent-light);
    box-shadow: 0px 1px 12px 0px #4553751A;
    border: none;
    border-radius: 50px;

    color: var(--text-grey);

    &:focus-visible{
      border: 1px solid var(--text-grey);
    }
  }

  button{
    width: 35px;
    height: 35px;
    @extend %flex-row-center;
    margin-left: 8px;

    border: none;
    background: var(--accent-light);
    box-shadow: 0px 1px 12px 0px #4553751A;
    border-radius: 50%;
    cursor: pointer;
  }

}
